@model OrderViewModel

<h3>Edit order:</h3>

<form asp-action="Edit" asp-controller="Order" method="post">

    <div class="form-group my-3">
        <label class="form-label" asp-for="UserId">Choose User</label>
        <select class="form-control" asp-for="UserId" asp-items="@(new SelectList(ViewBag.Users, "Id", "FullName"))">
        </select>
        <span class="text-danger" asp-validation-for="UserId"></span>
    </div>

    <div class="form-group my-3">
        <label class="form-label" asp-for="PaymentMethod">Choose payment method</label>
        <select class="form-control" asp-for="PaymentMethod" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
        <span class="text-danger" asp-validation-for="PaymentMethod"></span>
    </div>

    <div class="form-group my-3">
        <label class="form-label" asp-for="BurgerId">Choose burgers</label>
        <select class="form-control" asp-for="BurgerId" asp-items="@(new MultiSelectList(ViewBag.Burgers, "Id", "Name"))">
        </select>
        <span class="text-danger" asp-validation-for="BurgerId"></span>
    </div>

    <div class="form-group my-3">
        <label asp-for="IsDelivered" class="control-label"></label>
        <input type="checkbox" asp-for="IsDelivered" />
    </div>

    <button class="btn btn-outline-primary" type="submit">Edit order</button>
</form>