<h1 class="display-1 text-center">Welcome to the orders menu</h1>

<h3>Pick one of the following options</h3>

<nav class="nav flex-column">
    <a class="nav-link" asp-action="AllOrders">
        1. View all orders
    </a>
    <a class="nav-link" asp-action="Create">
        2. Create new order
    </a>
</nav>